version: '3.9'


services:
    web:
        image: nginx:latest
        ports:
        - "8080:80"
        volumes:
            - ./html:/usr/share/nginx/html
        depends_on:
            - db
    db:
        image: postgres:16
        volumes:
            - db_data:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
volumes:
    db_data:
    
    
